# dependencies (bun install)
node_modules

# build output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# dotenv — jangan di-commit! gunakan .env.example sebagai template
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# Playwright test results
test-results
playwright-report

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Vite
dist-ssr
